
.icon-ufd:before { content: '\e800'; } /* '' */
.icon-dragdown:before { content: '\e801'; } /* '' */
.icon-arrow-down:before { content: '\e802'; } /* '' */
.icon-true:before { content: '\e803'; } /* '' */
.icon-false:before { content: '\e804'; } /* '' */
.icon-depends:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */
